.nav {
    flex: 0;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    display: hidden; 
    background-color: gray;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
    /*2xl:px-12*/
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.link {
    padding: 10px;
}