/* body {
    font-size: 1.5rem;
} */


html,
body {
    overflow: hidden;
}

/* ::-webkit-scrollbar              {  }
::-webkit-scrollbar-button       {  }
::-webkit-scrollbar-track        {  }
::-webkit-scrollbar-track-piece  {  }
::-webkit-scrollbar-thumb        {  }
::-webkit-scrollbar-corner       {  }
::-webkit-resizer                {  } */






/* ::-webkit-scrollbar {
    display: block;
    width: 4px;
} 

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(113, 113, 113, 0.8);

    border-radius: 4px;
    border-right: none;
    border-left: none;
}

.scrollTest::-webkit-scrollbar-track-piece:end {
    margin-bottom: 0px;
}




.scrollTest::-webkit-scrollbar-track-piece:start {
    margin-top: 66px;
}

.MuiPaper-root::-webkit-scrollbar-track-piece:start {
    margin-top: 66px;
}

@media (max-width: 900px) {
    .scrollTest::-webkit-scrollbar-track-piece:end {
        margin-bottom: 58px;
    }
}

@media (max-width: 600px) {
    .scrollTest::-webkit-scrollbar-track-piece:start {
        margin-top: 58px;
    }
    .MuiPaper-root::-webkit-scrollbar-track-piece:start {
        margin-top: 58px;
    }
    
} */






/* OLI JO KOMMENTOITU POIS */
/* .MuiPaper-root::-webkit-scrollbar-thumb {
    background-color: rgba(255, 0, 0, 0.8);

    border-radius: 4px;
    border-right: none;
    border-left: none;
} */

